.lti-quiz-container {
  padding: 24px;
  max-width: 1080px;
}

.lti-quiz-container .lti-quiz-student__header {
  font-weight: bold;
  font-size: 2em;
  margin: .67em 0;
  margin-top: 0;
}

.lti-quiz-container .lti-quiz-student__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px 5px;
  margin-bottom: 5px;
}

.lti-quiz-container .lti-quiz-student__info__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.lti-quiz-container .lti-quiz-student__info__item > :nth-child(1) {
  font-weight: bold;
  margin-right: 10px;
}

.lti-quiz-container .lti-quiz-student__instructions {
  margin-top: 15px;
  margin-bottom: 25px;
}

.lti-quiz-container .lti-quiz-student__instructions h1 {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.lti-quiz-container .lti-quiz-student__instructions.quiz-result {
  margin-top: 35px;
}

.lti-quiz-container .lti-quiz-student__instructions.quiz-result h1 {
  text-align: center;
  margin-bottom: 23px;
}

.lti-quiz-container .lti-quiz-student__instructions.quiz-result > div {
  text-align: center;
  margin-bottom: 20px;
}

.lti-quiz-container .lti-quiz-student__action form {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lti-quiz-container .lti-quiz-student__action form button {
  margin: 0 auto;
  padding: 8px 14px;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: #1b242a;
}

.lti-quiz-container .lti-quiz-student .quiz-result-certificate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.lti-quiz-container .lti-quiz-student .quiz-result-certificate a {
  padding: 8px 12px 12px 12px;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background-color: #1b242a;
  overflow: hidden;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__body, .lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__field {
  padding: 5px 0px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__field label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__field label span {
  font-weight: bold;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__field label input {
  width: 100%;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__field label input.input-bculinary {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 8px;
  font-size: .875rem;
  line-height: 20px;
  color: #030405;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s,-webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s,-webkit-box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s,-webkit-box-shadow linear 0.2s;
  vertical-align: middle;
  display: inline;
  margin-top: 10px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__field label input.input-bculinary:focus {
  border-color: #9C999E;
  outline: 0;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-items: center;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__action button {
  margin: 0 auto;
  padding: 8px 14px;
  border: 1px solid;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  background-color: #1b242a;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form__group {
  margin-top: 10px;
  margin-bottom: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--w6 {
  -ms-flex-preferred-size: calc(50% - 10px);
  flex-basis: calc(50% - 10px);
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--w12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--inline label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--inline label input[type="checkbox"] {
  width: 20px;
  min-width: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--inline label input[type="checkbox"] + span {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--inline label + p {
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--inline a {
  color: black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  padding-right: 12px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 2px;
  margin-left: 2px;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .form_field--inline a:before {
  font-family: FontAwesome;
  content: "\f138";
  margin-right: 11px;
  display: inline-block;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .lti-field-error span {
  color: #b32626;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .lti-field-error input {
  border-color: #b32626;
}

.lti-quiz-container .lti-quiz-student-start .lti-quiz-student-start__form .lti-field-error p {
  font-size: 0.8em;
  font-style: italic;
  color: #b32626;
  margin: 0;
  padding-left: 2px;
  padding-top: 3px;
}

.lti-quiz-container .lti-student-quiz-questions-container {
  border-top: 1px solid silver;
  background-color: #fff;
  padding: 16px 85px;
  min-height: 225px;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container {
    padding: 16px 0px;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question {
  border: 1px solid silver;
  margin-bottom: 35px;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px solid silver;
  background-color: #f5f5f5;
  padding: 8px 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header.no-answer {
  position: relative;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header.no-answer {
    background-color: rgba(175, 36, 31, 0.3);
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header.no-answer:before {
  position: absolute;
  z-index: 2;
  content: attr(data-noanswer-str);
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.1px;
  width: 106px;
  height: 25px;
  left: -102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  padding-left: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E34540), to(#B32722));
  background: linear-gradient(to bottom, #E34540, #B32722);
  border: 1px solid #AF241F;
  border-right: 0;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header.no-answer:before {
    display: none;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header.no-answer:after {
  position: absolute;
  z-index: 1;
  content: ' ';
  width: 17px;
  height: 17px;
  left: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  border-radius: 0px 0px 0px 0px;
  background: linear-gradient(-0.15turn, #B32722, #E34540);
  border: 1px solid #AF241F;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header.no-answer:after {
    display: none;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header > div {
  margin-left: auto;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__header > div span {
  font-weight: bold;
  color: #595959;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__label {
  padding: 15px 10px 8px 10px;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__label__info {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 10px;
  margin-left: 5px;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__label__text {
  margin-bottom: 15px;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers {
  padding: 0px 20px 10px 20px;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div {
  padding: 5px 3px;
  border-top: 1px solid silver;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label {
  margin: 0;
  padding: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label > input {
  margin-right: 8px;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label > input[disabled] + span {
  opacity: 0.8;
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.correct {
  position: relative;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.correct {
    background-color: rgba(67, 147, 59, 0.3);
    margin: -6px -4px;
    padding-left: 10px;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.correct:before {
  position: absolute;
  z-index: 2;
  content: attr(data-correct-str);
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.1px;
  width: 106px;
  height: 25px;
  left: -121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  padding-left: 23px;
  background: -webkit-gradient(linear, left top, left bottom, from(#50B544), to(#43953B));
  background: linear-gradient(to bottom, #50B544, #43953B);
  border: 1px solid #43933B;
  border-right: 0;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.correct:before {
    display: none;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.correct:after {
  position: absolute;
  z-index: 1;
  content: ' ';
  width: 17px;
  height: 17px;
  left: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  border-radius: 0px 0px 0px 0px;
  background: linear-gradient(-0.15turn, #43953B, #50B544);
  border: 1px solid #43933B;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.correct:after {
    display: none;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.incorrect {
  position: relative;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.incorrect {
    background-color: rgba(175, 36, 31, 0.3);
    margin: -6px -4px;
    padding-left: 10px;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.incorrect:before {
  position: absolute;
  z-index: 2;
  content: attr(data-incorrect-str);
  color: white;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.1px;
  width: 106px;
  height: 25px;
  left: -121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  padding-left: 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#E34540), to(#B32722));
  background: linear-gradient(to bottom, #E34540, #B32722);
  border: 1px solid #AF241F;
  border-right: 0;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.incorrect:before {
    display: none;
  }
}

.lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.incorrect:after {
  position: absolute;
  z-index: 1;
  content: ' ';
  width: 17px;
  height: 17px;
  left: -23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  border-radius: 0px 0px 0px 0px;
  background: linear-gradient(-0.15turn, #B32722, #E34540);
  border: 1px solid #AF241F;
}

@media screen and (max-width: 600px) {
  .lti-quiz-container .lti-student-quiz-questions-container .lti-student-quiz-question__answers > div label.incorrect:after {
    display: none;
  }
}

.lti-quiz-container .lti-quiz-action-container {
  padding: 16px;
  margin-top: -10px;
}

.lti-quiz-container .lti-quiz-action-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid silver;
  padding: 20px;
}

.lti-quiz-container .lti-quiz-action-container .saved-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.lti-quiz-container .lti-quiz-action-container button {
  margin-left: 16px;
  background: #f5f5f5;
  color: #2D3B45;
  border: 1px solid;
  border-color: #C7CDD1;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 14px;
  font-size: 1rem;
  line-height: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.lti-quiz-container .lti-quiz-action-container button:hover {
  background: #e8e8e8;
  color: #2D3B45;
  text-decoration: none;
}

.lti-quiz-container .lti-evaluations-instructor-container {
  background-color: #fff;
  padding: 0px 9px 20px 9px;
  min-height: 225px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor {
  border: 1px solid silver;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__header {
  padding: 12px 10px;
  background-color: #f5f5f5;
  font-weight: 500;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__header :first-child {
  margin-left: 2px;
  margin-right: 10px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items {
  border-top: 1px solid silver;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination {
  margin: 4px 10px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination a {
  padding: 3px 10px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination a:hover {
  background-color: #b9daffb3;
  border-radius: .25rem;
  text-decoration: none;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination.disabled a {
  color: #ccc;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination.active {
  background-color: #387bca;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination.active a {
  color: #fff;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor__items__pagination .pagination.active a:hover {
  background-color: #1256a3;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row {
  padding: 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid silver;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row:hover {
  background-color: #eef7ff;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row--empty {
  padding: 16px 12px;
  text-align: center;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row:last-of-type {
  border-bottom: 0;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__icon {
  margin-right: 20px;
  margin-left: 8px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__icon > * {
  font-size: 24px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:first-child {
  font-weight: 500;
  margin-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:first-child > span:first-child {
  padding-right: 10px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:first-child > span:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  padding-right: 50px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child {
  font-size: 0.85em;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span {
  padding: 0 15px;
  border-right: 1px solid black;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:nth-of-type(1) {
  padding-left: 0;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:nth-of-type(2) {
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:nth-of-type(3) {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:nth-of-type(4) {
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:nth-of-type(4) .agree {
  color: #43933B;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:nth-of-type(4) .disagree {
  color: #AF241F;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__info > div:last-child > span:last-of-type {
  border-right: 0;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__action {
  padding-right: 5px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__action a {
  padding: 10px;
  font-size: 24px;
}

.lti-quiz-container .lti-evaluations-instructor-container .lti-evaluations-instructor .lti-evaluations-row__action a.without-pdf {
  -webkit-filter: contrast(0.1);
  filter: contrast(0.1);
  pointer-events: none;
}
